---
import NavbarItem from "./NavbarItem.astro";
---

<nav
	class="h-fit fixed right-3 lg:right-5 top-1/2 -translate-y-[50%] z-20 flex flex-col gap-8">
	<div class="container flex justify-center">
		<div class="flex flex-col gap-3">
			<NavbarItem href="#hero-section" label="Home" />
			<NavbarItem href="#about-me" label="About" />
			<NavbarItem href="#projects" label="Projects" />
		</div>
	</div>
</nav>
