---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Navbar from "@/components/ui/nav/Navbar.astro";
import TypingAnimation from "@/components/ui/TypingAnimation";
import cat from "@/../public/assets/hero-section-animation.gif";
import cv from "@/../public/assets/cv_ats.pdf";
import { Github, Linkedin, Mail, FileUser } from "lucide-react";
---

<Layout title="Fahridana Ahmad Rayyansyah">
	<div class="min-h-[100svh] flex flex-col justify-center items-center">
		<div
			class="w-full flex flex-col md:flex-row justify-between items-center">
			<div class="max-w-2xl text-4xl">
				<h1>
					Hi,<span class="wave">👋</span> I'm Fahridana Ahmad Rayyansyah,
				</h1>
				<p>A <TypingAnimation client:only /></p>
				<p class="text-[#8d7e61] mt-2">Proud Bug Maker & Solver</p>
			</div>
			<Image
				width={300}
				height={300}
				src={cat}
				alt="A pixel animation featuring a black cat with a waving tail sitting on grass. The black cat has yellow eyes and is wearing a red collar with a gold bell."
				loading={"eager"}
			/>
		</div>
		<div class="w-full flex gap-2">
			<a
				href="mailto:fahridanaaa@gmail.com"
				target="_blank"
				class="social-btn"
				title="email"
				aria-label="email">
				<Mail size={24} />
			</a>
			<a
				href="https://www.linkedin.com/in/fahridana-ahmad-rayyansyah/"
				target="_blank"
				class="social-btn"
				title="linkedIn"
				aria-label="linkedIn">
				<Linkedin size={24} />
			</a>
			<a
				href="https://github.com/Fahridanaa"
				target="_blank"
				class="social-btn"
				title="Github"
				aria-label="Github">
				<Github size={24} />
			</a>
			<a
				href={cv}
				target="_blank"
				class="social-btn"
				title="CV"
				aria-label="CV">
				<FileUser size={24} />
			</a>
		</div>
	</div>
	<div class="absolute bottom-6 left-1/2 transform-translate-x-12">
		<span class="arrow-down"></span>
	</div>
</Layout>
<Navbar />

<style>
	.wave {
		display: inline-block;
		animation: wave 2s infinite;
		transform-origin: 70% 70%;
	}

	.arrow-down {
		display: inline-block;
		opacity: 0;
		width: 24px;
		height: 24px;
		border: solid 2px transparent;
		border-bottom-color: #8d7e61;
		border-right-color: #8d7e61;
		transform: rotate(45deg);
		animation: arrow-bounce 2s infinite;
	}

	.social-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 36px;
		height: 36px;
		border: #8d7e61 2px solid; /* Dark gray border */
		border-radius: 4px; /* Rounded square */
		color: #8d7e61; /* Dark gray icon color */
		transition: all 0.3s ease;
	}

	.social-btn:hover {
		transform: translateY(-5px);
	}

	@keyframes arrow-bounce {
		%0,
		100% {
			transform: translateY(0) rotate(45deg);
			opacity: 0;
		}
		50% {
			transform: translateY(10px) rotate(45deg);
			opacity: 1;
		}
	}

	@keyframes wave {
		0% {
			transform: rotate(0deg);
		}
		10% {
			transform: rotate(14deg);
		}
		20% {
			transform: rotate(-8deg);
		}
		30% {
			transform: rotate(14deg);
		}
		40% {
			transform: rotate(-4deg);
		}
		50% {
			transform: rotate(10deg);
		}
		60% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
</style>
