---
import type { BlogEntry } from "@/utils/blog";

interface Props {
	entry: BlogEntry;
}

const { entry } = Astro.props;
---

{
	entry.data.banner && (
		<div class="camera-print">
			<span class="camera-pin" aria-hidden="true"></span>
			<img
				src={entry.data.banner}
				alt=""
				width="1600"
				height="720"
				loading="eager"
				class="aspect-[16/7] w-full object-cover"
			/>
			<p class="camera-caption">blog banner</p>
		</div>
	)
}
