---
const { href, target = "_blank", title, ariaLabel, icon: Icon } = Astro.props;
---

<a
	href={href}
	target={target}
	class="flex items-center justify-center w-8 h-8 border-2 border-[#8d7e61] rounded text-[#8d7e61] transition-transform duration-300 ease-in-out hover:-translate-y-1"
	title={title}
	aria-label={ariaLabel}>
	<Icon />
</a>
