---
const { href, target = "_blank", title, ariaLabel, icon: Icon } = Astro.props;
---

<a
	href={href}
	target={target}
	rel={target === "_blank" ? "noopener noreferrer" : undefined}
	class="glued-social flex h-12 w-12 items-center justify-center rounded-sm"
	title={title}
	aria-label={ariaLabel}>
	<Icon size={25} strokeWidth={2.25} aria-hidden="true" />
</a>
