---
import { Image } from "astro:assets";

// src/components/ui/TechStackIcon.astro
interface Props {
	iconName: string;
	colored?: boolean;
}

const { iconName, colored = true } = Astro.props;
const colorClass = colored ? "colored" : "";
---

<div
	class="shadow-md p-2 rounded-lg flex justify-center items-center bg-white/10 backdrop-blur-sm hover:scale-110 transition-transform duration-300">
	<Image
		src={`/assets/icons/${iconName.toLowerCase()}.svg`}
		alt={`${iconName}`}
		width={24}
		height={24}
		loading="lazy"
		class="w-8 h-8"
	/>
</div>
